stateMachine.yaml
StartAt: InsertRecord
States:
  InsertRecord:
    Type: Task
    Resource: arn:aws:states:::dynamodb:updateItem
    Parameters:
      TableName: OrdersTable
      Key:
        PK:
          S.$: "$.PK"
        SK:
          S.$: "$.SK"
      ReturnValues: ALL_NEW
    ResultSelector:
      DDBOutput.$: "$.Attributes"
      StatusCode.$: "$.SdkHttpMetadata.HttpStatusCode"
    Next: PaymentLambda
  PaymentLambda:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${PaymentFunction}"
    ResultSelector:
      StatusCode.$: "$.Payload.statusCode"
      Message.$: "$.Payload.body"
    ResultPath: "$.LambdaResult"
    Next: LambdaResultCheck
    Catch:
      - ErrorEquals:
          - States.ALL
        ResultPath: "$.Error"
        Next: RollBackUpdate
  LambdaResultCheck:
    Type: Choice
    Choices:
      - Variable: "$.StatusCode"
        NumericEquals: 200
        Next: Success
    Default: RollBackUpdate
  Success:
    Type: Succeed
  RollBackUpdate:
    Type: Task
    Resource: arn:aws:states:::dynamodb:deleteItem
    Parameters:
      TableName: OrdersTable
      Key:
        PK:
          S.$: "$.DDBOutput.PK.S"
        SK:
          S.$: "$.DDBOutput.SK.S"
      ReturnValues: ALL_OLD
    Next: FailState
  FailState:
    Type: Fail
